node_modules

/server/.nyc_output
/server/coverage
/server/dist

/react-frontend/build
/react-frontend/coverage

/angular-frontend/dist
/angular-frontend/tmp
/angular-frontend/out-tsc

.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
